a.out.dSYM
autom4te.cache
buildindex/IndriBuildIndex
buildindex/.svnignore
build.param
clarity
clarity/clarity
clarity/clarity.dSYM
clarity.dSYM
clarity/.svnignore
./config.log
config.status
csharp
depend/*.d
doc/html/*
doc/JNIdoc/*
*.dSYM
dumpindex/dumpindex
excluded_hosts
harvestlinks/harvestlinks
indri-1.spec
IndriBuildIndex
IndriBuildIndex.dSYM
IndriDaemon
IndriDaemon.dSYM
indrid/IndriDaemon
indrid/.svnignore
IndriRunQuery
IndriRunQuery.dSYM
MakeDefns
Makefile.app
makeprior/makeprior
modifyfields/ModifyFields
pagerank/pagerank
php
ReformulateQuery.dSYM
reformulate/ReformulateQuery
rmodel/rmodel
runquery/IndriRunQuery
runquery/.svnignore
seeds.txt
site-search/cgi/bin/lemur.cgi
site-search/crawl-index
.svnignore
swig/obj/java
swig/src/php/indri.php
test
**/*.o
**/lib*.a
**/*.jar
**/.unison*
**/.cquery_cached_index
config.log
compile_commands.json
bm25f/bm25f
bm25f/perf.data
bm25f/perf.svg
bm25f/perf.data.old
